img{
	height: 35px;
}
.btn{
	margin: 0em 0.5em;
}

.list-group{
	margin-bottom: 0px;
}

.list-group-item{
	height: 60px;
	text-align: center;
}

.navbar-brand .titulo {
	display: inline-block;
	vertical-align: center;
}