<div class="row">
  <div class="col-xs-12 button-row">
    <a href="#/expenses/new" class="btn btn-success btn-lg btn-block">
      <span class="glyphicon glyphicon-plus"></span> New Expense</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li ng-repeat="expense in expenses" class="list-group-item">
        <span class="pull-left">${{expense.amount | number:2}}
        </span>{{expense.description | uppercase}}
        <span>
          <button type="button" class="boton btn btn-danger btn-s pull-right btn-separation-left">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
          <a href="" class="boton btn btn-primary btn-s pull-right">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </span>
      </li>
    </ul>
  </div>
</div>
